*{font-family:Courier New;}

body {
	font-size: 30px;
    color: #434343;
    text-align: center;
    .widget_search #searchsubmit {
	display: none !important;}

}

input, select, textarea {
  font-size: 30px;
  height:30px;
  width:500px;

}

